* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cube {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    box-sizing:border-box;
    color: white;
    font-size: small;
    padding: 5px;
}
.center {
    text-align: center;
}
.cube h2 {
    margin-top: -10px;
}
.second-num {
    font-size: small;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

h1 {
   text-align: center;
}

.first {
    display: flex;
}
.first div {
    background-color: rgb(246, 3, 3);
}
.first .second-col {
    margin-top: 70px;
}

.second {
    display: flex;
    margin-top: 210px;
}
.second div {
    background-color: green;
}

.third {
    display: flex;
    margin-top: 70px;
}
.third div {
    background-color: blue;
}
.third .six-col {
    margin-top: -70px;
}


.second-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.second-container div {
    background-color: yellow;
}